a:link, a:visited {text-decoration:none; color:#663333; }
a:hover{text-decoration:underline}
h2{color: #000000;font-size:17px; margin-bottom:8px; line-height:20px;}
p{color: #000000; font-size:15px;}
h3{color: #000000; font-size:14px;}
li{color:#1e3263; font-size:16px;}
img{float: left; margin: 10px 10px 0 0}
hr{margin:20px 0 20px 0;border: #000000none; height:3px; background-color:#3458ae;}